@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 100%;
    background-color: #272626 !important;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .back_animation {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.container .back_animation i {
    position: absolute;
}

.container .back_animation i:nth-child(1) {
    top: 20%;
    left: 90%;
    animation: spin 10s infinite linear;
    color: rgb(255, 196, 0);
}

.container .back_animation i:nth-child(2) {
    top: 50%;
    left: 50%;
    animation: spin 10s infinite linear;
    color: #59e259;

}

.container .back_animation i:nth-child(3) {
    bottom: 20%;
    left: 30%;
    animation: spin 10s infinite linear;
    color: orangered;

}

.container .back_animation i:nth-child(4) {
    bottom: 30%;
    right: 30%;
    animation: spin 10s infinite linear;

}

.container .back_animation i:nth-child(5) {
    top: 20%;
    right: 90%;
    animation: spin 10s infinite linear;
    color: red;
    font-weight: 900;
}

.container .back_animation div {
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    position: absolute;
}


.container .back_animation div:nth-child(6) {
    top: 10%;
    left: 30%;
    border: 1px solid #59e259;
    animation: spin 10s infinite linear;

}

.container .back_animation div:nth-child(7) {
    left: 90%;
    bottom: 30%;
    animation: spin 10s infinite linear;

}

.container .back_animation div:nth-child(8) {
    top: 90%;
    left: 10%;
    border: 1px solid #59e259;
    animation: spin 10s infinite linear;

}

.container .back_animation div:nth-child(9) {
    top: 10%;
    left: 90%;
    border: 1px solid #59e259;
    animation: spin 10s infinite linear;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* Form */
.Register_Form form {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    height: 450px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.btn input {
    background: transparent;
    border: 1px solid red;
    width: 10em;
    height: 30px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    border-radius: 2% 10%/50%;
    transition: 1s;
}

.btn input:hover {
    border-radius: 20px;
    background: red;
}